<div class="grid">
    <div class="col-12 md:col-6 lg:col-12 sm:p-2 lg:p-8">
        <div class="p-3 border-round-sm shadow-2 w-full h-20rem">
            <h2 class="text-primary-400 text-center p-5">About us</h2>
            <p class="text-normal line-height-4 text-center">We are a professionally managed construction organization established in the year 2007, involved in a broad spectrum of Quality Infrastructure and township projects. The organization has developed many landmark buildings in major districts across South Karnataka namely-Bengaluru, Bengaluru rural, Mandya , Mysore, Chitradurga, Tumkuru, Davangere, Shimoga and Haveri with developments across the Residential, Commercial, Industrial and education sectors. We offer variety of services that span the spectrum of property needs. The organization is recognized as best-in-class design and top of the line facilities that exude elegance and sophistication.

       </p>
            
        </div>
    </div>
</div>