.home-container {
    height: 100%;
    // background-image: url(../../../../public/images/hero4.jpg);
   background-size: cover;      /* Scales the image to fill the screen */
    background-position: center;  /* Centers the image */
    background-attachment: fixed; /* Keeps it from scrolling with the page */
    background-repeat: no-repeat;
 background-image:
    linear-gradient(to top, oklch(100% 0.00011 271.152),rgba(238, 240, 233, 0.545)),
    url(../../../../public/images/hero4.jpg);
}




.hero-text {
    font-size: 7rem;
}

.form-container {
    margin-top: 10rem;
}

.form {
    margin-top: 10rem;
}


@media screen and (min-width:1024px) {
    ::ng-deep .p-card {
        width: 35rem;
        height: 24rem;
    }
}

