<section class="team">
    
<h2 class="text-center">Meet our Team</h2>
<div class="grid mt-5">
    <!-- Use col-12 to let it take full width, or keep your responsive logic -->
    <div class="col-12">
        <div class="p-1 border-round-sm surface-card">
            
            <!-- This wrapper is the secret to responsiveness -->
            <div class="overflow-x-auto white-space-nowrap pb-3">
                <p-organization-chart [value]="data" selectionMode="single">
                    <ng-template let-node pTemplate="person">
                        <div class="flex flex-column align-items-center">
                            <div class="font-bold text-center text-sm">{{ node.data.name }}</div>
                            <div class="text-center text-sm mt-2 text-600">{{ node.label }}</div>
                        </div>
                    </ng-template>
                </p-organization-chart>
            </div>

        </div>
    </div>
</div>
</section>