<section class="mission-container lg:p-8">
    <div class="grid">
    <div class="col-12 md:col-6 lg:col-6">
        <div class="p-3 border-round-sm font-bold h-15rem mt-6 lg:mt-5 sm:text-left lg:text-center">
            <img 
            src="images/hero4.jpg" 
            alt="homearchitecture image" 
            class="visionImg"
            width="500"
            height="300" />

        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">

             <div class="p-3 text-center border-round-sm sm:text-left  font-bold h-15rem mt-8 lg:mt-5">
                <h2 class="capitalize font-bold text-left text-primary">Our Vision</h2>
                 <p class="text-left line-height-4 font-normal pt-5">
                    To be a customer-centric company for whom customer satisfaction is of utmost importance and be counted among the topmost Contractor in Bengaluru. Our company that constantly evolves and concentrates on value-addition with every new project it undertakes
                 </p>
                </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6 mt-8">
       
             <div class="p-3 border-round-sm  font-bold h-15rem">
                <h2 class="capitalize font-bold text-left mt-5 sm:text-left text-primary">Our Mission</h2>
                 <p class="text-left line-height-4 font-normal pt-2">
                    To provide international standards of living and working space at the bare minimum cost for the aspiring Indian. Our motto being “Great Value, Grand lifestyle” we make sure we give what we promise.
     
                 </p>
             </div>
    
    </div>
    <div class="col-12 md:col-6 lg:col-6 mt-8">
        <div class="p-3 border-round-sm font-bold h-15rem mt-6 sm:text-left lg:mt-5 lg:text-center">
            <img 
            src="images/hero3.jpg" 
            alt="homearchitecture image" 
            class="visionImg"
            height="300" />

        </div>
    </div>
</div>
</section>
 