.projects-container {
     height: 100%;
}


.primaryColor {
    color: #81221a;
}

.hero-text {
    font-size: 4rem;
}

.Image {
    width: 100%;
}

@media screen and (min-width:1024px) {
    .hero-text {
    font-size: 4rem;
}
}