
/* Use the CDN or the node_modules path */
@use "primeflex/primeflex.css";


*,
::after,
::before {
    margin: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}


